<!DOCTYPE html>
<html>
    <head>
        <title>Developer API</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Below is the API call for our free weather api. You are limited to 100 calls per day.</p>
            <p style="padding: 5px; border-radius: 5px; background-color: #eeeeee; font-family: Courier New;">http://localhost:3000/weather?address=[YOUR LOCATION]</p>
        </div>
        {{>footer}}
    </body>
</html>